# Created by .ignore support plugin (hsz.mobi)
.idea/
/vendor/
.directory

#CRM SPECIFIC FILES
config.php

#CRM SPECIFIC FOLDERS
/cache/
/data/
/include/
/install/
/jssource/
/metadata/
/ModuleInstall/
/service/
/soap/
/tmp/
/upgrade/
/upload/
/XTempate/
/Zend/

# Modules folder - custom handling
/modules/*
!/modules/Telco_Day/

# Themes folder - custom handling
/themes/*
!/themes/SuiteMekit/

