$marked: #e4c1c6;
$gray-light: #cccccc;
$gray-medium: #aaaaaa;


#telco_day{
  /*border: 1px dotted $marked;*/
  padding: 0;
  margin: 0;

  .configForm
  {
    table
    {
      margin: 15px auto;
      border: 3px solid $marked;
      border-radius: 5px;
      background: $gray-light;
      border-collapse: separate;
      td
      {
        padding:3px 10px;
      }
    }
  }

  h1.title
  {
    text-align: center;
    margin: 20px;
  }

  h2.title
  {
    text-align: center;
    margin: 0 0 10px 0;
    border-bottom: 1px solid $gray-light;
  }

  h4.title
  {
    text-align: center;
    margin: 0;
    padding: 5px;
    background: $marked;
  }

  table.view {
    width: 100%;
    &>tbody>tr>td
    {
      padding: 4px;
    }
  }

  table.table-responsive
  {
    width: 100%;
  }

  table.table-bordered
  {
    border-collapse: collapse;
    &>tbody>tr>td{border: 1px solid $gray-light;}
    &>thead>tr>td{border: 1px solid $gray-light;}
    &>thead>tr>th{border: 1px solid $gray-light;}
  }


  table.table-vspaced
  {
    margin-bottom:15px;
  }

  span.label
  {
    font-weight: bold;
  }





  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #800000;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

}

